$primaryColor:#a2ad03 !default;
$primaryTextColor:#333333 !default;

$topbarBgLeftColor:#53C018 !default;
$topbarBgRightColor:#C6D309 !default;
$topbarSidebarButtonColor:#333333 !default;
$topbarIconHoverBgColor:#3E9311 !default;
$topbarMenuHoverBgColor:#90990A !default;
$topbarProfileTextColor:#333333 !default;
$activeSubMenuItemTextColor:#818a02 !default;

@import '../../sass/layout/_layout';