$primaryColor:#eeb210 !default;
$primaryTextColor:#333333 !default;

$topbarBgLeftColor:#f66b0b !default;
$topbarBgRightColor:#efd417 !default;
$topbarSidebarButtonColor:#ffffff !default;
$topbarIconHoverBgColor:#ee4f10 !default;
$topbarMenuHoverBgColor:#d1ac13 !default;
$topbarProfileTextColor:#333333 !default;
$activeSubMenuItemTextColor:#be8e0c !default;

@import '../../sass/layout/_layout';