$primaryColor:#707277 !default;
$primaryTextColor:#ffffff !default;

$topbarBgLeftColor:#333333 !default;
$topbarBgRightColor:#5A5D60 !default;
$topbarSidebarButtonColor:#ffffff !default;
$topbarIconHoverBgColor:#515355 !default;
$topbarMenuHoverBgColor:#707277 !default;
$topbarProfileTextColor:#ffffff !default;
$activeSubMenuItemTextColor:#7085ba !default;

@import '../../sass/layout/_layout';