$primaryColor:#4b6cb7 !default;
$primaryTextColor:#ffffff !default;

$topbarBgLeftColor:#4b6cb7 !default;
$topbarBgRightColor:#182848 !default;
$topbarSidebarButtonColor:#ffffff !default;
$topbarIconHoverBgColor:#1c315e !default;
$topbarMenuHoverBgColor:#4b6cb7 !default;
$topbarProfileTextColor:#ffffff !default;
$activeSubMenuItemTextColor:#4b6cb7 !default;

@import '../../sass/layout/_layout';