$primaryColor:#FFD000 !default;
$primaryTextColor:#333333 !default;

$topbarBgLeftColor:#F39C05 !default;
$topbarBgRightColor:#F3C704 !default;
$topbarSidebarButtonColor:#ffffff !default;
$topbarIconHoverBgColor:#A77004 !default;
$topbarMenuHoverBgColor:#C3A004 !default;
$topbarProfileTextColor:#333333 !default;
$activeSubMenuItemTextColor:#c28304 !default;

@import '../../sass/layout/_layout';