$primaryColor:#3DB281 !default;
$primaryTextColor:#ffffff !default;

$topbarBgLeftColor:#1D976C !default;
$topbarBgRightColor:#93F9B9 !default;
$topbarSidebarButtonColor:#ffffff !default;
$topbarIconHoverBgColor:#13704F !default;
$topbarMenuHoverBgColor:#20996E !default;
$topbarProfileTextColor:#333333 !default;
$activeSubMenuItemTextColor:#3DB281 !default;

@import '../../sass/layout/_layout';