$primaryColor:#44be2d !default;
$primaryTextColor:#333333 !default;

$topbarBgLeftColor:#07b750 !default;
$topbarBgRightColor:#c7d41b !default;
$topbarSidebarButtonColor:#333333 !default;
$topbarIconHoverBgColor:#088D3F !default;
$topbarMenuHoverBgColor:#8C9512 !default;
$topbarProfileTextColor:#333333 !default;
$activeSubMenuItemTextColor:#5bad4b !default;

@import '../../sass/layout/_layout';