$primaryColor:#2162b0 !default;
$primaryTextColor:#ffffff !default;

$topbarBgLeftColor:#1e469a !default;
$topbarBgRightColor:#49a7c1 !default;
$topbarSidebarButtonColor:#ffffff !default;
$topbarIconHoverBgColor:#326ddf !default;
$topbarMenuHoverBgColor:#30768A !default;
$topbarProfileTextColor:#ffffff !default;
$activeSubMenuItemTextColor:#3780d9 !default;

@import '../../sass/layout/_layout';