$primaryColor:#722CEE !default !default;
$primaryTextColor:#ffffff !default !default;

$topbarBgLeftColor:#5023A0 !default !default;
$topbarBgRightColor:#7A318D !default !default;
$topbarSidebarButtonColor:#ffffff !default !default;
$topbarIconHoverBgColor:#321367 !default !default;
$topbarMenuHoverBgColor:#9250AE !default !default;
$topbarProfileTextColor:#ffffff !default !default;
$activeSubMenuItemTextColor:#935df4 !default !default;

@import '../../sass/layout/_layout';